[submodule "vim/.vim/bundle/command-t"]
	path = vim/.vim/bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "vim/.vim/bundle/delmitmate"]
	path = vim/.vim/bundle/delmitmate
	url = git://github.com/Raimondi/delimitMate.git
[submodule "vim/.vim/bundle/closetag"]
	path = vim/.vim/bundle/closetag
	url = git://github.com/docunext/closetag.vim.git
[submodule "vim/.vim/bundle/tagbar"]
	path = vim/.vim/bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "vim/.vim/bundle/solarized"]
	path = vim/.vim/bundle/solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim/.vim/bundle/jedi-vim"]
	path = vim/.vim/bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "vim/.vim/bundle/supertab"]
	path = vim/.vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vim/.vim/bundle/vim-django"]
	path = vim/.vim/bundle/vim-django
	url = https://github.com/cwood/vim-django.git
[submodule "vim/.vim/bundle/syntastic"]
	path = vim/.vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/.vim/bundle/vim-less"]
	path = vim/.vim/bundle/vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule "vim/.vim/bundle/vim-css3-syntax"]
	path = vim/.vim/bundle/vim-css3-syntax
	url = https://github.com/hail2u/vim-css3-syntax.git
[submodule "vim-css-color"]
	path = vim-css-color
	url = git://github.com/skammer/vim-css-color.git
[submodule "vim/.vim/bundle/vim-css-color"]
	path = vim/.vim/bundle/vim-css-color
	url = git://github.com/skammer/vim-css-color.git
[submodule "vim/.vim/bundle/tasklist"]
	path = vim/.vim/bundle/tasklist
	url = https://github.com/vim-scripts/TaskList.vim.git
